header
{
    background-color: rgb(139, 240, 253);
    display:block;
    color:#FFFFFF;
	text-align:center;
}

nav
{
    background-color: rgb(182, 250, 241); height: 50px;
    display:block;
    color:#FFFFFF;
}
nav button
{
    width: 60px;
    height: 40px;
	text-align:left;
}



section
{
    width: 400px;
    border: 1px solid rgb(35, 74, 250);
    padding: 500px;
    margin: 20px;
}

